<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8">
        <title>rock/paper/scissors</title>
    </head>
    <body>
        <div align="center">
            <a href="/game?chose=rock">
                <button>rock</button>
            </a>
            <a href="/game?chose=paper">
                <button>paper</button>
            </a>
            <a href="/game?chose=scissors">
                <button>scissors</button>
            </a>
        </div>
        
        
    </body>
</html>