<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8">
        <title>rock/paper/scissors</title>
        <style>
        
        .btn {
            border: none;
            background-color: inherit;
            padding: 14px 28px;
            font-size: 16px;
            cursor: pointer;
            display: inline-block;
        }
        .btn-new:hover {
            border: none;
            outline: none;
            box-shadow: none;
            position: relative;
            top: 5px;
        }
        .link {
            text-decoration: none;
            color: #000000;
        }
    </style>
    </head>
    
    <body>
        <div align="center">

            <table align="center">
                 <tbody>
                    <tr>
                     <th class="btn-new">
                        <a class="link" href="/game?chose=rock" >
                         <pre>              
                      --============--                  
                  =++++=+=++-=+=+=++==+++=              
               ==+++++++==+===++==++=++++++-            
             ==++++++=+++++=+++++++*++++++*++=          
            =***++++++=+=+==++*+++++++++++**++=         
           +#******+++++++++++++++++++++++****+         
          *#####******+++*+*++++++++++***#*####+        
         +#%#######***++++*++*+++******###%####*        
         *%%%%%%%%#####********#*######%#%%%%%%*        
         *%%%%%%%%%#%%###########%%#%%%%%%%%%%#+        
          +%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%*         
           +%@%%%%%%%%%%%%%%%%%@%%%%%%%%%@@%#           
           --=+%@%%@%%%%%@%%%%%%@@%%%%%%%%+=---         
            ---======+*##%%%%%%%#*++==------                  
                        </pre>        </a>
                    </th> 
                     <th class="btn-new">

                        <a class="link"  href="/game?chose=paper"> 
                             <pre> 
                +****************:                      
             :@@@%%%%%%%%%%%%%%@@@@:                    
             #@*               @@@@@%.                  
             %@=               @@# #@@%                 
             %@=               @@#   #@@*               
             %@=               @@@%%%%@@@@+             
             %@+               *#*#****#@@%             
             %@+                        =@%             
             %@+                        =@%             
             %@+                        =@%             
             %@+                        =@%             
             %@+                        =@%             
             %@=                        =@%             
             %@=                        =@%             
             %@+                        =@%             
             %@+                        =@%             
             %@+                        =@%             
             %@*                        +@%             
             :@@@%%%%%%%%%%%%%%%%%%%%%%@@@-             
               .+*************#*#*#****+.              
             </pre>    
             </a>   
                    </th> 
                     <th class="btn-new">
                        <a class="link"href="/game?chose=scissors">
                          <pre>         
                              =*                        
                            =::#                        
                            :.:#                        
                           =..:#                        
                           :..:#              -:+       
                           :..:#            -:.-#       
                          +...:#          -:..-*        
                          -...:#        -:...-#         
                          :...:#      -:...:=@          
                          :...:#    =:....-#            
                          ....:#   -.....+@             
                         =....:# -.....-#               
                         -....:=:.....=@                
                         :....::....:#                  
                         :..:.::..:+@                   
                       #*-:::-::.-#                     
          +===++++#  +++*+:::.:=+@                      
        +===++++++++++***##+++**#                       
       +-=+#@  *++++***#@@  *+**#@                      
      +-=+@    +++++*%@     #+**#%                      
      --=#     +=++#@       *++******#                  
      --==#  ===+*%         *+++*******#                
      =-==---==*%           *++++******#%               
       +====+*@             *=+*#   ****#               
          @                 *=+*@    ***#               
                            *++*    ++**#               
                             ++**  *+**#                
                             ++*******#@                
                              ++*****@                  
                                 @@                      
                        </pre>  
                        </a>       
                    </th> 
                 </tr>
                </tbody>
            </table> 

            
            
        </div>
        
        

                   
            
            
         
    </body>
</html>