<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8">
        <title>rock/paper/scissors</title>
        <style>
            .state {
            clear: both;}    
        </style>
    </head>
    <body>
        <div >
            {{if eq .State "winer"}}
            <pre align="center">

       %%%%%%%%%%%%%%%                                           
    %%%#------------=%%%%                                        
  %%%  #-::::::::::--%  %%%                                      
  %%   #-::::==-:::--%   %%                                      
  %%   #-::::-=-:::--%   %%                                      
   %%% #-::::-=-:::--% %%%   __   __                     _       
    %%%#-:::-=+=-::--%%%%    \ \ / /__  _   _  __      _(_)_ __  
       %=::::::::::-+%        \ V / _ \| | | | \ \ /\ / / | '_ \ 
      %%%*=-:::::-+*%%%        | | (_) | |_| |  \ V  V /| | | | |
           ##***##             |_|\___/ \__,_|   \_/\_/ |_|_| |_|
           %##*##%                                               
            #+:+#                                                
         %##*---*%%%                                             
        %***********%                                            
        %%%%%%%%%%%%%                                            
        
        </pre>
            {{end}}

             {{if eq .State "losser"}}
            <pre  align="center">                                  
     @@@@@@@@@@@@@@@@@@@@@@@@@@@@@                                                                 
   @@@                @@@@@   @@                                                                   
  @@@@@                  @@   @@                                                                   
 @@@@@                   @@   @@              __   __            _                                 
 @@                      @@   @@              \ \ / /__  _   _  | | ___  ___ ___  ___ _ __         
@@@@@@@                  @@   @@               \ V / _ \| | | | | |/ _ \/ __/ __|/ _ \ '__|        
@@                       @@   @@                | | (_) | |_| | | | (_) \__ \__ \  __/ |           
@@@@@@@                  @@   @                 |_|\___/ \__,_| |_|\___/|___/___/\___|_|           
 @@                      @@   @@                                                                   
 @@                  @@@@@@   @                                                                    
  @@@@@@@@@@@@@@   @@@    @@@@@@@@                                                                 
            @@    @@@                                                                              
            @@   @@@                                                                               
            @@   @@                                                                                
            @@@  @@                                                                                
             @@@@@@                                                                                
           </pre>
            {{end}}

             {{if eq .State "draw"}}
            <pre align="center">





 ____                     
|  _ \ _ __ __ ___      __
| | | | '__/ _` \ \ /\ / /
| |_| | | | (_| |\ V  V / 
|____/|_|  \__,_| \_/\_/  







        </pre>
             
            {{end}}
        </div>

        
        
        
    </body>
</html>