<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8">
        <title>rock/paper/scissors</title>
    </head>
    <body>
        <div align="center">
            <table border="1">
            <thead>
                <tr>
                    <th></th>
                    <th>Winer</th>
                    <th>Losser</th>
                    <th>Drow</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Store</td>
                    <td>{{ .StateWINER}}</td>
                    <td>{{ .StateLOSSER}}</td>
                    <td>{{ .StateDROW}}</td>
                </tr>
            </tbody>
        </table>
        </div>
    </body>
</html>